/*start navbar*/

.navbar-toggler:focus{

    box-shadow: none !important;
}
  .navbar-toggler{

    border: none !important;
}
 .navbar-nav .nav-item .nav-link.active  {
    background-color: aqua !important;
   height: 60px;
}
.navbar-nav .nav-item .nav-link{
font-size: 18px !important;
font-weight: 300 !important;
 
} 
.dropdown-menu{
background-color: rgb(10, 166, 172) !important;
 
left: 0 !important;
  right:2 !important;
   
  

}
 
  .dropdown-menu .dropdown-item { color: rgb(238, 233, 241) !important; transition: 0.5s;
 
 }
 .dropdown-menu .dropdown-item li a{
    display: inline-block;
background-color: aqua;


 }
 .dropdown-item:hover{
background-color: rgb(228, 10, 10);
padding-left: 5px;

 } 
/*end navbar*/
 /*start  landing*/
.landing{
height: calc(100vh - 76px);

    background-color:rgb(222, 222, 231)  ;
}
  /*end landing*/
  /*start stats */
  .card .fa-fw{
color: aqua;
display: block !important;
margin-left: auto;
margin-right: auto;
  }
  /*end stats*/
  /*start footer*/
  .links ul li{

border-bottom: 1px solid red !important;

  }
  
  .information .info{
margin-bottom:60px;
margin-left: 2px;


  }
  /*end footer*/